.home {
  height: 100vh;
}

.home-description {
  position: relative;
  z-index: 4;
}

.home-sections {
  background: #1d1e22bb;
  box-shadow: 0 4px 30px rgb(0 0 0 / 50%);
}

.home-section-original {
  left: 0;
  transition: left 0.5s ease-in;
}

.home-section-move-to-right {
  left: -100%;
}
