.site {
  position: relative;
  top: 0;
  margin: 0 0 20px;
  box-shadow: 0px 6px 0px 0px rgb(20, 20, 20);
  /* padding: 0 10px; */
  background: #1d1e2288;
}

.site:hover {
  background: #3f404288;
}

.site:active {
  top: 4px;
  box-shadow: 0px 2px 0px 0px rgb(20, 20, 20);
}

.site:focus {
  outline: none;
  background: #3f404288;
}

.site-selected {
  background: rgba(251, 191, 36, 0.85);
}

.site-selected:hover {
  background: rgba(251, 191, 36, 0.85);
}

.site-selected:focus {
  background: rgba(251, 191, 36, 0.85);
}
